/*
Design by Metamorphosis Design
http://www.metamorphozis.com
Released for free under a Creative Commons Attribution 2.5 License
*/

a:link {
	color: #ff4200;
}

a:hover{
	text-decoration: underline;
	color: #353535;
}

a:visited {
	color: #ff4200;
}

*
{
border: 1;
margin: 0;
}

body
{
	color: #666666;
	background: #ffffff url(../images/bg.jpg);
	font-family: "맑은 고딕";
	font-size: 16px;
}

#bg_top{
	background:url(../images/bg_top1.jpg) center top no-repeat;
}

#main
{
margin: 0 auto;
width: 980px;

padding-top: 10px;
}

#header
{
width: 980px;
margin: 0 auto;
height: 273px;
background: url(../images/header.png) no-repeat center bottom;
}

#logo
{
padding-left: 35px;
text-align: left;
padding-top: 20px;

}

#logo a {
	text-decoration: none;
	text-transform: lowercase;
	font-style: italic;
	font-size: 55px;
	color: #FFFFFF;
	font-weight: bold;
}


#logo H2 a
{
	font-size: 19px;
}

#buttons
{
width: 880px;
height: 39px;
margin: 0 auto;
}

#buttons ul {
   	float:right;
	padding-right: 40px;
    margin: 0px;
}

#buttons li {
	display: inline;
}

#buttons a {
	display: block;
	float: left;
	width: 138px;
	height: 29px;
	background: url(../images/menu.png) no-repeat;
	text-align: center;
	text-decoration: none;
	color: #7e8901;
	font-weight: bold;
	font-size: 14px;
	padding-top: 10px;
	margin-right: 2px;
}

#buttons a:hover {
	width: 138px;
    height: 29px;
	background: url(../images/menuhover.png) no-repeat;
}

#content
{
width: 980px;
background: #ffffff;
margin-bottom: 5px;
padding-top: 20px;
padding-bottom: 22px;
}

#left
{
width: 700px;
background:url(../images/leftbor.jpg) repeat-y right;
}

.text{
	padding-left: 30px;
	padding-top: 5px;
	padding-right: 15px;
	font-family:
}

#left H1
{
color: #7e8901;
font-size: 28px;
padding-top: 10px;
padding-left: 30px;
font-family: Georgia, "Times New Roman", Times, serif;
font-weight: normal;
}

.pred{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: bold;
	color: #b22d00;
	padding-left: 30px;
	padding-top: 15px;
	margin-bottom: 5px;
}

#left a
{
 color: #ff4200;
}

#left a:hover{
	text-decoration: none;
	color: #353535;
}

#left a:visited {
	color: #3a7854;
}

.date {
	margin-top: 25px;
	color: #ff8d00;
	font-size: 11px;
	padding: 10px;
	margin-bottom: 10px;
	font-weight:bold;
	background: url(../images/datebg.jpg) no-repeat;
}

.date a {
	color: #ff4200;
	text-decoration:none;
}

.dateleft{
	background:url(../images/timeicon.gif) no-repeat left;
	padding-left: 20px;
	width:200px;
	color: #ff4200;
}

.dateright{
	float:right;
	background:url(../images/tages.gif) right no-repeat;
	padding-right: 20px;
	text-align:right;
	height: 16px;
}

#post{
	padding-left: 30px;
}

#col1{
	width: 188px;
	float:left;
}

#col1 ul{
	padding: 0px;
}

#col1 ul li{
	background:url(../images/bg2.gif) no-repeat;
	width: 188px;
	height: 21px;
	list-style: none;
	padding-left: 30px;
	margin-bottom: 5px;
	padding-top: 3px;
}

#col1 ul li a{
	color: #c17305;
	text-decoration: none;
	font-size: 11px;
}

#col2{
	padding-left: 8px;
}

#col2{
	width: 188px;
	float:left;
}

#col2 ul{
	padding: 0px;
}

#col2 ul li{
	background:url(../images/bg2.gif) no-repeat;
	width: 188px;
	height: 21px;
	list-style: none;
	padding-left: 30px;
	margin-bottom: 5px;
	padding-top: 3px;
}

#col2 ul li a{
	color: #c17305;
	text-decoration: none;
	font-size: 11px;
}

#col3{
	padding-left: 8px;
}

#col3{
	width: 188px;
	float:left;
}

#col3 ul{
	padding: 0px;
}

#col3 ul li{
	background:url(../images/bg2.gif) no-repeat;
	width: 188px;
	height: 21px;
	list-style: none;
	padding-left: 30px;
	margin-bottom: 5px;
	padding-top: 3px;
}

#col3 ul li a{
	color: #c17305;
	text-decoration: none;
	font-size: 11px;
}

#right
{
width: 252px;
padding-right: 7px;
padding-top: 7px;
padding-bottom: 7px;
float:right;
}

#right ul
{
	list-style: none;
	padding: 5px;
	margin: 0px;
	display:block;

}

#right ul li{
	margin-bottom: 20px;
	width: 192px;
}

#categories ul li {
	margin-bottom: 3px;
	background: url(../images/ulbgtop.jpg) no-repeat left 3px;
	padding-left: 12px;
	height: 21px;
}

#categories ul li a{
	color: #b22d00;
	font-size: 12px;
	font-weight:bold;
	font-family:Arial, Helvetica, sans-serif;
}

#partners ul li {
	margin-bottom: 5px;
	background: url(../images/ulbgbot.jpg) no-repeat left 3px;
	padding-left: 12px;
	height: 21px;
}

#partners ul li a{
	color: #464646;
	font-size: 12px;
	font-family:Arial, Helvetica, sans-serif;
}



#right h2 {
color: #7e8901;
font-size: 23px;
padding-top: 10px;
padding-bottom: 10px;
font-family: Georgia, "Times New Roman", Times, serif;
}

#right a:link {
	text-decoration: none;
}

#right a:hover {
	text-decoration: underline;
}
#right a:visited {
		text-decoration: none;
}

#right li a {
	padding-left: 10px;
	background: url(../images/img09.gif) no-repeat 1px 5px;
}

#footer
{
	background: url(../images/bg_top1.jpg) ;
	height: 58px;
	width: 980px;
	font-size: 14px;
	color: #FFFFFF;
	padding-top: 0px;
	text-align: center;
	clear:both;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#footer a
{
color: #000000;
font-size: 10px;
text-decoration: none;
}
.padding
{
padding: 10px;
color:#FF0000;
font-weight: bold;
}


/*=================================*/
/* Nivo Slider Demo
/* November 2010
/* By: Gilbert Pellegrom
/* http://dev7studios.com
/*=================================*/


#slider-wrapper {
   width:963px;
    height: 257px;
    margin:0 auto;
	padding-top: 8px;
}

#slider {
	position:relative;
    width: 963px;
    height: 257px;
	background:url() no-repeat 50% 50%;
}
#slider img {
	position:absolute;
	top:0px;
	left:0px;
	display:none;
}
#slider a {
	border:0;
	display:block;
}

.nivo-controlNav {
	position:absolute;
	left: 440px;
	bottom:-42px;

}
.nivo-controlNav a {
	display:block;
	width:22px;
	height:22px;
	background:url(../images/bullets.png) no-repeat;
	text-indent:-9999px;
	border:0;
	margin-right:3px;
	float:left;
}
.nivo-controlNav a.active {
	background-position:0 -22px;
}

.nivo-directionNav a {
	display:block;
	width:30px;
	height:30px;
	background:url(../images/arrows.png) no-repeat;
	text-indent:-9999px;
	border:0;
}
a.nivo-nextNav {
	background-position:-30px 0;
	right:15px;
}
a.nivo-prevNav {
	left:15px;
}

.nivo-caption {
    text-shadow:none;
    font-family: Helvetica, Arial, sans-serif;
}
.nivo-caption a {
    color:#efe9d1;
    text-decoration:underline;
}

/*  ================테이블 CSS================= */
table {

	width: 100%;

	margin:0;

 	padding:0;

	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;

	color: #1c5d79;



}

table, tr, th, td {

	border-collapse: collapse;

}

caption {

margin:0;

 	padding:0;

	background: #f3f3f3;

	height: 40px;

	line-height: 40px;

	text-indent: 28px;

	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;

	font-size: 14px;

	font-weight: bold;

	color: #555d6d;

	text-align: left;

	letter-spacing: 3px;

	border-top: dashed 1px #c2c2c2;

	border-bottom: dashed 1px #c2c2c2;

}



/* HEAD */



thead {

	background-color: #FFFFFF;

	border: none;

}

thead tr th {

	height: 32px;

	line-height: 32px;

	text-align: center;

	color: #1c5d79;

	background-image: url(col_bg.gif);

	background-repeat: repeat-x;

	border-left:solid 1px #FF9900;

	border-right:solid 1px #FF9900;

	border-collapse: collapse;



}



/* BODY */



tbody tr {

	background: #dfedf3;

	font-size: 13px;

}

tbody tr.odd {

	background: #F0FFFF;

}

tbody tr:hover, tbody tr.odd:hover {

	background: #ffffff;

}

tbody tr th, tbody tr td {

	padding: 6px;

	border: solid 1px #326e87;

}

tbody tr th {

	background: #1c5d79;

	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;

	font-size: 12px;

	padding: 6px;

	text-align: center;

	font-weight: bold;

	color: #FFFFFF;

	border-bottom: solid 1px white;

}

tbody tr th:hover {

	background: #ffffff;



}



/* LINKS */



table a {

	color: #FF6600;

	text-decoration: none;

	font-size: 13px;

	border-bottom: solid 1px white;

}

table a:hover {

	color: #FF9900;

	border-bottom: none;

}



/* FOOTER */



tfoot {

	background: #f3f3f3;

	height: 24px;

	line-height: 24px;

	font-family: "Trebuchet MS", Trebuchet, Arial, sans-serif;

	font-size: 14px;

	font-weight: bold;

	color: #555d6d;

	text-align: center;

	letter-spacing: 3px;

	border-top: solid 2px #326e87;

	border-bottom: dashed 1px #c2c2c2;

}

tfoot tr th, tfoot tr td {

	/*padding: .1em .6em;*/



}

tfoot tr th {

	border-top: solid 1px #326e87;

}

tfoot tr td {

	text-align: right;



}


/* ========버튼 CSS======= */

.button {
	display: inline-block;
	zoom: 1; /* zoom and
display = ie7 hack for display:inline-block */
	*display: inline;
	vertical-align: baseline;
	margin: 0 2px;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0,0,0,.3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,.2);
	box-shadow: 0 1px 2px rgba(0,0,0,.2);
}
.button:hover {
	text-decoration: none;
}
.button:active {
	position: relative;
	top: 1px;
}

.bigrounded {
	-webkit-border-radius: 2em;
	-moz-border-radius: 2em;
	border-radius: 2em;
}
.medium {
	font-size: 12px;
	padding: .4em 1.5em .42em;
}
.small {
	font-size: 11px;
	padding: .2em 1em .275em;
}

/* color styles
---------------------------------------------- */

/* black */
.black {
	color: #d7d7d7;
	border: solid 1px #333;
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#666), to(#000));
	background: -moz-linear-gradient(top,  #666,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#666666', endColorstr='#000000');
}
.black:hover {
	background: #000;
	background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#000));
	background: -moz-linear-gradient(top,  #444,  #000);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#444444', endColorstr='#000000');
}
.black:active {
	color: #666;
	background: -webkit-gradient(linear, left top, left bottom, from(#000), to(#444));
	background: -moz-linear-gradient(top,  #000,  #444);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#666666');
}

/* gray */
.gray {
	color: #e9e9e9;
	border: solid 1px #555;
	background: #6e6e6e;
	background: -webkit-gradient(linear, left top, left bottom, from(#888), to(#575757));
	background: -moz-linear-gradient(top,  #888,  #575757);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#888888', endColorstr='#575757');
}
.gray:hover {
	background: #616161;
	background: -webkit-gradient(linear, left top, left bottom, from(#757575), to(#4b4b4b));
	background: -moz-linear-gradient(top,  #757575,  #4b4b4b);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#757575', endColorstr='#4b4b4b');
}
.gray:active {
	color: #afafaf;
	background: -webkit-gradient(linear, left top, left bottom, from(#575757), to(#888));
	background: -moz-linear-gradient(top,  #575757,  #888);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#575757', endColorstr='#888888');
}

/* white */
.white {
	color: #606060;
	border: solid 1px #b7b7b7;
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ededed));
	background: -moz-linear-gradient(top,  #fff,  #ededed);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#ededed');
}
.white:hover {
	background: #ededed;
	background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#dcdcdc));
	background: -moz-linear-gradient(top,  #fff,  #dcdcdc);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dcdcdc');
}
.white:active {
	color: #999;
	background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#fff));
	background: -moz-linear-gradient(top,  #ededed,  #fff);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#ffffff');
}

/* orange */
.orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top,  #faa51a,  #f47a20);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
}
.orange:hover {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top,  #f88e11,  #f06015);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.orange:active {
	color: #fcd3a5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top,  #f47a20,  #faa51a);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

/* red */
.red {
	color: #faddde;
	border: solid 1px #980c10;
	background: #d81b21;
	background: -webkit-gradient(linear, left top, left bottom, from(#ed1c24), to(#aa1317));
	background: -moz-linear-gradient(top,  #ed1c24,  #aa1317);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ed1c24', endColorstr='#aa1317');
}
.red:hover {
	background: #b61318;
	background: -webkit-gradient(linear, left top, left bottom, from(#c9151b), to(#a11115));
	background: -moz-linear-gradient(top,  #c9151b,  #a11115);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#c9151b', endColorstr='#a11115');
}
.red:active {
	color: #de898c;
	background: -webkit-gradient(linear, left top, left bottom, from(#aa1317), to(#ed1c24));
	background: -moz-linear-gradient(top,  #aa1317,  #ed1c24);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aa1317', endColorstr='#ed1c24');
}

/* blue */
.blue {
	color: #d9eef7;
	border: solid 1px #0076a3;
	background: #0095cd;
	background: -webkit-gradient(linear, left top, left bottom, from(#00adee), to(#0078a5));
	background: -moz-linear-gradient(top,  #00adee,  #0078a5);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#00adee', endColorstr='#0078a5');
}
.blue:hover {
	background: #007ead;
	background: -webkit-gradient(linear, left top, left bottom, from(#0095cc), to(#00678e));
	background: -moz-linear-gradient(top,  #0095cc,  #00678e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0095cc', endColorstr='#00678e');
}
.blue:active {
	color: #80bed6;
	background: -webkit-gradient(linear, left top, left bottom, from(#0078a5), to(#00adee));
	background: -moz-linear-gradient(top,  #0078a5,  #00adee);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#0078a5', endColorstr='#00adee');
}

/* rosy */
.rosy {
	color: #fae7e9;
	border: solid 1px #b73948;
	background: #da5867;
	background: -webkit-gradient(linear, left top, left bottom, from(#f16c7c), to(#bf404f));
	background: -moz-linear-gradient(top,  #f16c7c,  #bf404f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f16c7c', endColorstr='#bf404f');
}
.rosy:hover {
	background: #ba4b58;
	background: -webkit-gradient(linear, left top, left bottom, from(#cf5d6a), to(#a53845));
	background: -moz-linear-gradient(top,  #cf5d6a,  #a53845);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cf5d6a', endColorstr='#a53845');
}
.rosy:active {
	color: #dca4ab;
	background: -webkit-gradient(linear, left top, left bottom, from(#bf404f), to(#f16c7c));
	background: -moz-linear-gradient(top,  #bf404f,  #f16c7c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#bf404f', endColorstr='#f16c7c');
}

/* green */
.green {
	color: #e8f0de;
	border: solid 1px #538312;
	background: #64991e;
	background: -webkit-gradient(linear, left top, left bottom, from(#7db72f), to(#4e7d0e));
	background: -moz-linear-gradient(top,  #7db72f,  #4e7d0e);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#7db72f', endColorstr='#4e7d0e');
}
.green:hover {
	background: #538018;
	background: -webkit-gradient(linear, left top, left bottom, from(#6b9d28), to(#436b0c));
	background: -moz-linear-gradient(top,  #6b9d28,  #436b0c);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#6b9d28', endColorstr='#436b0c');
}
.green:active {
	color: #a9c08c;
	background: -webkit-gradient(linear, left top, left bottom, from(#4e7d0e), to(#7db72f));
	background: -moz-linear-gradient(top,  #4e7d0e,  #7db72f);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#4e7d0e', endColorstr='#7db72f');
}

/* pink */
.pink {
	color: #feeef5;
	border: solid 1px #d2729e;
	background: #f895c2;
	background: -webkit-gradient(linear, left top, left bottom, from(#feb1d3), to(#f171ab));
	background: -moz-linear-gradient(top,  #feb1d3,  #f171ab);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#feb1d3', endColorstr='#f171ab');
}
.pink:hover {
	background: #d57ea5;
	background: -webkit-gradient(linear, left top, left bottom, from(#f4aacb), to(#e86ca4));
	background: -moz-linear-gradient(top,  #f4aacb,  #e86ca4);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f4aacb', endColorstr='#e86ca4');
}
.pink:active {
	color: #f3c3d9;
	background: -webkit-gradient(linear, left top, left bottom, from(#f171ab), to(#feb1d3));
	background: -moz-linear-gradient(top,  #f171ab,  #feb1d3);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f171ab', endColorstr='#feb1d3');
}
