<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OCSS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UploadFileServlet</display-name>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>disc.ocss.control.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/uploadfile.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCarTypeServlet</display-name>
    <servlet-name>SelectCarTypeServlet</servlet-name>
    <servlet-class>disc.ocss.control.SelectCarTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCarTypeServlet</servlet-name>
    <url-pattern>/cartype.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinMemberServlet</display-name>
    <servlet-name>JoinMemberServlet</servlet-name>
    <servlet-class>disc.ocss.control.JoinMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinMemberServlet</servlet-name>
    <url-pattern>/join.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMemberServlet</display-name>
    <servlet-name>EditMemberServlet</servlet-name>
    <servlet-class>disc.ocss.control.EditMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMemberServlet</servlet-name>
    <url-pattern>/edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMemberServlet</display-name>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <servlet-class>disc.ocss.control.DeleteMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <url-pattern>/DeleteMemberServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchIdServlet</display-name>
    <servlet-name>SearchIdServlet</servlet-name>
    <servlet-class>disc.ocss.control.SearchIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchIdServlet</servlet-name>
    <url-pattern>/searchId.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPwServlet</display-name>
    <servlet-name>SearchPwServlet</servlet-name>
    <servlet-class>disc.ocss.control.SearchPwServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPwServlet</servlet-name>
    <url-pattern>/searchPw.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCarServlet</display-name>
    <servlet-name>SelectCarServlet</servlet-name>
    <servlet-class>disc.ocss.control.SelectCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCarServlet</servlet-name>
    <url-pattern>/selectcar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>insertCommServlet</display-name>
    <servlet-name>insertCommServlet</servlet-name>
    <servlet-class>disc.ocss.control.insertCommServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>insertCommServlet</servlet-name>
    <url-pattern>/insertcomm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCommServlet</display-name>
    <servlet-name>DeleteCommServlet</servlet-name>
    <servlet-class>disc.ocss.control.DeleteCommServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommServlet</servlet-name>
    <url-pattern>/deletecomm.do</url-pattern>
  </servlet-mapping>
</web-app>