<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OCSS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <listener>
    <listener-class>org.apache.tiles.web.startup.TilesListener</listener-class>
  </listener>
  <context-param>
    <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
    <param-value>
           /WEB-INF/tiles-defs.xml
        </param-value>
  </context-param>
  <servlet>
    <display-name>TilesDispatchServlet</display-name>
    <servlet-name>TilesDispatchServlet</servlet-name>
    <servlet-class>org.apache.tiles.web.util.TilesDispatchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TilesDispatchServlet</servlet-name>
    <url-pattern>*.tiles</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileServlet</display-name>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>disc.ocss.control.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/uploadfile.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCarTypeServlet</display-name>
    <servlet-name>SelectCarTypeServlet</servlet-name>
    <servlet-class>disc.ocss.control.SelectCarTypeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCarTypeServlet</servlet-name>
    <url-pattern>/cartype.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>JoinMemberServlet</display-name>
    <servlet-name>JoinMemberServlet</servlet-name>
    <servlet-class>disc.ocss.control.JoinMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>JoinMemberServlet</servlet-name>
    <url-pattern>/join.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditMemberServlet</display-name>
    <servlet-name>EditMemberServlet</servlet-name>
    <servlet-class>disc.ocss.control.EditMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditMemberServlet</servlet-name>
    <url-pattern>/edit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteMemberServlet</display-name>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <servlet-class>disc.ocss.control.DeleteMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteMemberServlet</servlet-name>
    <url-pattern>/delete.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchIdServlet</display-name>
    <servlet-name>SearchIdServlet</servlet-name>
    <servlet-class>disc.ocss.control.SearchIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchIdServlet</servlet-name>
    <url-pattern>/searchId.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchPwServlet</display-name>
    <servlet-name>SearchPwServlet</servlet-name>
    <servlet-class>disc.ocss.control.SearchPwServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchPwServlet</servlet-name>
    <url-pattern>/searchPw.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectCarServlet</display-name>
    <servlet-name>SelectCarServlet</servlet-name>
    <servlet-class>disc.ocss.control.SelectCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectCarServlet</servlet-name>
    <url-pattern>/selectcar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCommServlet</display-name>
    <servlet-name>InsertCommServlet</servlet-name>
    <servlet-class>disc.ocss.control.InsertCommServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCommServlet</servlet-name>
    <url-pattern>/insertcomm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCommServlet</display-name>
    <servlet-name>DeleteCommServlet</servlet-name>
    <servlet-class>disc.ocss.control.DeleteCommServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCommServlet</servlet-name>
    <url-pattern>/deletecomm.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>disc.ocss.control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>disc.ocss.control.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/logout.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>IdCheckServlet</display-name>
    <servlet-name>IdCheckServlet</servlet-name>
    <servlet-class>disc.ocss.control.IdCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IdCheckServlet</servlet-name>
    <url-pattern>/idcheck.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMember</display-name>
    <servlet-name>SearchMember</servlet-name>
    <servlet-class>disc.ocss.control.SearchMember</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMember</servlet-name>
    <url-pattern>/SearchMember</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMemberServlet</display-name>
    <servlet-name>SearchMemberServlet</servlet-name>
    <servlet-class>disc.ocss.control.SearchMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMemberServlet</servlet-name>
    <url-pattern>/searchMember.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMemberForIdServlet</display-name>
    <servlet-name>SearchMemberForIdServlet</servlet-name>
    <servlet-class>disc.ocss.control.SearchMemberForIdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMemberForIdServlet</servlet-name>
    <url-pattern>/searchMemberForId.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMemberForPwServlet</display-name>
    <servlet-name>SearchMemberForPwServlet</servlet-name>
    <servlet-class>disc.ocss.control.SearchMemberForPwServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMemberForPwServlet</servlet-name>
    <url-pattern>/searchMemberForPw.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMemberForPhoneServlet</display-name>
    <servlet-name>SearchMemberForPhoneServlet</servlet-name>
    <servlet-class>disc.ocss.control.SearchMemberForPhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMemberForPhoneServlet</servlet-name>
    <url-pattern>/searchMemberForPhone.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMemberForEmailServlet</display-name>
    <servlet-name>SearchMemberForEmailServlet</servlet-name>
    <servlet-class>disc.ocss.control.SearchMemberForEmailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMemberForEmailServlet</servlet-name>
    <url-pattern>/searchMemberForEmail.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMemberForPowerServlet</display-name>
    <servlet-name>SearchMemberForPowerServlet</servlet-name>
    <servlet-class>disc.ocss.control.SearchMemberForPowerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMemberForPowerServlet</servlet-name>
    <url-pattern>/searchMemberForPower.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMemberForApprovalServlet</display-name>
    <servlet-name>SearchMemberForApprovalServlet</servlet-name>
    <servlet-class>disc.ocss.control.SearchMemberForApprovalServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMemberForApprovalServlet</servlet-name>
    <url-pattern>/searchMemberForApproval.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchMemberForNameServlet</display-name>
    <servlet-name>SearchMemberForNameServlet</servlet-name>
    <servlet-class>disc.ocss.control.SearchMemberForNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchMemberForNameServlet</servlet-name>
    <url-pattern>/searchMemberForName.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreJoinCommitServlet</display-name>
    <servlet-name>PreJoinCommitServlet</servlet-name>
    <servlet-class>disc.ocss.control.PreJoinCommitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreJoinCommitServlet</servlet-name>
    <url-pattern>/preJoinCommit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommitServlet</display-name>
    <servlet-name>CommitServlet</servlet-name>
    <servlet-class>disc.ocss.control.CommitServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommitServlet</servlet-name>
    <url-pattern>/commit.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageBadProductServlet</display-name>
    <servlet-name>ManageBadProductServlet</servlet-name>
    <servlet-class>disc.ocss.control.ManageBadProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageBadProductServlet</servlet-name>
    <url-pattern>/manageBadProduct.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertNotifyServlet</display-name>
    <servlet-name>InsertNotifyServlet</servlet-name>
    <servlet-class>disc.ocss.control.InsertNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertNotifyServlet</servlet-name>
    <url-pattern>/insertNotify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InsertCarServlet</display-name>
    <servlet-name>InsertCarServlet</servlet-name>
    <servlet-class>disc.ocss.control.InsertCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InsertCarServlet</servlet-name>
    <url-pattern>/insertcar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DetailMemberServlet</display-name>
    <servlet-name>DetailMemberServlet</servlet-name>
    <servlet-class>disc.ocss.control.DetailMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DetailMemberServlet</servlet-name>
    <url-pattern>/detailMember.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectMyCarServlet</display-name>
    <servlet-name>SelectMyCarServlet</servlet-name>
    <servlet-class>disc.ocss.control.SelectMyCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectMyCarServlet</servlet-name>
    <url-pattern>/mycar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateCarSellingServlet</display-name>
    <servlet-name>UpdateCarSellingServlet</servlet-name>
    <servlet-class>disc.ocss.control.UpdateCarSellingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateCarSellingServlet</servlet-name>
    <url-pattern>/updateselling.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCarServlet</display-name>
    <servlet-name>DeleteCarServlet</servlet-name>
    <servlet-class>disc.ocss.control.DeleteCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCarServlet</servlet-name>
    <url-pattern>/deletecar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SelectDetailCarServlet</display-name>
    <servlet-name>SelectDetailCarServlet</servlet-name>
    <servlet-class>disc.ocss.control.SelectDetailCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SelectDetailCarServlet</servlet-name>
    <url-pattern>/detailcar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PreInsertNotifyServlet</display-name>
    <servlet-name>PreInsertNotifyServlet</servlet-name>
    <servlet-class>disc.ocss.control.PreInsertNotifyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PreInsertNotifyServlet</servlet-name>
    <url-pattern>/preInsertNotify.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteBadMemberServlet</display-name>
    <servlet-name>DeleteBadMemberServlet</servlet-name>
    <servlet-class>disc.ocss.control.DeleteBadMemberServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteBadMemberServlet</servlet-name>
    <url-pattern>/deleteBadMember.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BuyCarServlet</display-name>
    <servlet-name>BuyCarServlet</servlet-name>
    <servlet-class>disc.ocss.control.BuyCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BuyCarServlet</servlet-name>
    <url-pattern>/buyCar.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SearchCarServlet</display-name>
    <servlet-name>SearchCarServlet</servlet-name>
    <servlet-class>disc.ocss.control.SearchCarServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchCarServlet</servlet-name>
    <url-pattern>/searchcar.do</url-pattern>
  </servlet-mapping>
</web-app>