
<script type="text/javascript">
$(function(){
	$("#img_navi a").click(function(){
		$("#img_main img").before("<img src='"+$(this).attr("href")+"' alt='' width='500px' height='500px'>");
		$("#img_main img:last").fadeOut("fast",function(){
			$(this).remove();
		});
		return false;
	});
});
		</script>
	</head>
	<body>
		<div id="img_container">
			<div id="img_navi">
				<ul>

							<li><a href="images/photo1.jpg"><img src="images/photo1_thum.jpg" alt="샹제리아" width ="110px" /></a></li>
							<li><a href="images/photo2.jpg"><img src="images/photo2_thum.jpg" alt="장미"  width ="110px" /></a></li>
							<li><a href="images/photo3.jpg"><img src="images/photo3_thum.jpg" alt="바다"  width ="110px" /></a></li>
							<li><a href="images/photo4.jpg"><img src="images/photo4_thum.jpg" alt="문"  width ="110px" /></a></li>
							<li><a href="images/photo5.jpg"><img src="images/photo5_thum.jpg" alt="바다"  width ="110px" /></a></li>
							<li><a href="images/photo6.jpg"><img src="images/photo6_thum.jpg" alt="자양화"  width ="110px" /></a></li>

				</ul>
			</div>
			<div id="img_main">
				<img src="images/photo1.jpg" alt="" width='500px' height='530px'/>			</div>
	</div>
	</body>
</html>